img {
  width: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

textarea:focus, input:focus {
  outline: none;
}

/* Colors */
/* Font-size */
/* Card design */
header {
  z-index: 30;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0rem 0.2rem 0.9rem #c3c3c3;
          box-shadow: 0rem 0.2rem 0.9rem #c3c3c3;
  width: 100%;
}

.logo {
  position: relative;
  width: 50%;
  margin: 1em;
}

.logo__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo__link {
  position: absolute;
  left: -35%;
  top: 10%;
  font-size: 1.3rem;
}

/* Colors */
/* Font-size */
/* Card design */
/* Colors */
/* Font-size */
/* Card design */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4.34rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  color: #353535;
  font-size: 1rem;
  background-color: #EAEAEA;
}

.search__input {
  border: none;
  background-color: transparent;
  font-weight: bold;
  width: 35%;
}

.search__input:focus {
  border: none;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 2rem 0 2rem 0;
}

.intro__title {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
}

.intro__subtitle {
  margin-bottom: 1rem;
}

.intro__btn {
  border: none;
  padding: 1em;
  border-radius: 2em;
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-filter: drop-shadow(2px 4px 5px #c3c3c3);
          filter: drop-shadow(2px 4px 5px #c3c3c3);
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 1.5rem;
}

.info {
  margin-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1rem;
  font-weight: bold;
}

.info__title {
  font-size: 1.3rem;
}

.info__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.info__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0 0.5rem 2rem;
  gap: 1rem;
  background: #F6F6F6;
  border-radius: 1rem;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1rem;
  -webkit-filter: drop-shadow(3px 6px 3px #EAEAEA);
          filter: drop-shadow(3px 6px 3px #EAEAEA);
}

.info--i {
  color: gray;
}

.info__nb {
  background: #9356DC;
  color: white;
  font-weight: normal;
  padding: .25rem .5rem .25rem .5rem;
  border-radius: 3rem;
  position: absolute;
  left: -10px;
}

.result {
  background: #F6F6F6;
  padding: 2rem 1rem 2rem 1rem;
}

.result__title {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 0rem 0rem 2rem;
}

.result__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.4rem;
  -webkit-filter: drop-shadow(2px 4px 5px #c3c3c3);
          filter: drop-shadow(2px 4px 5px #c3c3c3);
}

.result__card {
  position: relative;
  background: white;
  border-radius: 1rem;
}

.result__card--img {
  border-radius: 1rem 1rem 0rem 0rem;
  overflow: hidden;
}

.result__card--img img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.9;
}

.result__card--new {
  z-index: 10;
  position: absolute;
  top: 1%;
  right: 4%;
  padding: 0.4rem;
  border-radius: .2rem;
  background: #99E2D0;
  color: #278870;
}

.result__card--label {
  position: relative;
}

.result__card--title {
  font-weight: 800;
  margin: 1.3rem 1rem .2rem 1rem;
  font-size: 1.3rem;
}

.result__card--subtitle {
  margin: 0rem 1rem 1.3rem 1rem;
  font-size: 1rem;
}

.result__card--icon {
  position: absolute;
  right: 8%;
  bottom: 20%;
  font-size: 1.5rem;
  text-shadow: .1rem 0rem .1rem black, -0.1rem 0rem .1rem black, 0rem .1rem .1rem black, 0rem -0.1rem 0.1rem black;
  color: white;
}

.result__card--icon i:hover {
  text-shadow: none;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  cursor: pointer;
}

body {
  margin: 0;
}

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

textarea:focus, input:focus {
  outline: none;
}

/* Colors */
/* Font-size */
/* Card design */
.container {
  background: #353535;
  padding: 1rem 2rem 2rem 1rem;
  color: white;
}

.container__img {
  width: 33%;
  margin: 1rem 0rem 1rem 0rem;
}

.container__img--white {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.container__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

/* Colors */
/* Font-size */
/* Card design */
/* Colors */
/* Font-size */
/* Card design */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4.34rem;
  height: 100%;
}

.illu {
  z-index: 0;
  width: 100%;
}

.illu__img {
  width: 100%;
}

.menu {
  z-index: 10;
  background: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
  top: 50%;
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__name {
  font-family: 'Shrikhand', cursive;
  font-size: 1.8rem;
  font-weight: 900;
}

.menu__btn {
  border: none;
  padding: 1em;
  border-radius: 2em;
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-filter: drop-shadow(2px 4px 5px #c3c3c3);
          filter: drop-shadow(2px 4px 5px #c3c3c3);
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 34%;
  margin-right: 34%;
  margin-bottom: 1.5rem;
}

.choice__step {
  font-weight: 300;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.choice__step:before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 1px;
  bottom: -.8rem;
  left: 0%;
  border-bottom: 0.4rem solid #99E2D0;
}

.choice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  border-radius: 1.5rem;
  padding: 0;
}

.choice__item--p {
  width: 80%;
}

.choice__item .fa-solid {
  -webkit-transform: rotate(-90);
          transform: rotate(-90);
  width: 0%;
  display: block;
  position: absolute;
  left: 0;
}

.choice__item:hover .choice__price .fa-solid {
  -webkit-transform: rotate(90);
          transform: rotate(90);
  -webkit-transition: display 1s, -webkit-transform 2s;
  transition: display 1s, -webkit-transform 2s;
  transition: display 1s, transform 2s;
  transition: display 1s, transform 2s, -webkit-transform 2s;
  width: 100%;
  background: #99E2D0;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  color: white;
}

.choice__item:hover .choice__item--p {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choice__title {
  font-weight: 500;
  margin: 1rem .5rem .5rem .5rem;
}

.choice__subtitle {
  margin: 0rem .5rem 1rem .5rem;
}

.choice__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.choice__price p {
  margin-right: 1rem;
  bottom: 0;
  left: -3.5rem;
}

.choice__price .fa-solid {
  padding: 1.8rem 1.4rem;
}
/*# sourceMappingURL=main.css.map */