@import "../Base/reset";
@import "../Utils/variables";

.container {
    background: $dgray;
    padding: 1rem 2rem 2rem 1rem;
    color: white;
    &__img{
        width: 7rem;
        margin: 1rem 0rem 1rem 0rem;
        &--white {
            filter: invert(100%);
        }
    }
    &__list {
        @include rst-list;
        @include col-l;
        gap: .5rem;
    }
    &__item {
        @include row-l;
        gap: 1rem;
    }
}

/* Breakpoint */

    /* Tablet */

    @media screen and (min-width: 768px) and (max-width: 1023px) {
    
    }
    
        /* Desktop */
    
    @media screen and (min-width: 1024px) {
        .container {
            z-index: 15;
            &__img{
                width: 10rem;
                }
            }
    }