@import '../Utils/mixins';
@import '../Utils/variables';

header { 
    z-index: 30;
    position: fixed;
    @include row-c;
    background-color: white;
    box-shadow: 0rem .2rem .9rem $shadow;
    width: 100%;
}

.logo {
    position: relative;
    width: 50%;
    margin: 1em;
    &__img {
        width: 100%;
        object-fit: contain;
    }
    &__link {
        position: absolute;
        left: -35%;
        top: 10%;
        font-size: 1.3rem;
    }
}