@import '../Utils/mixins';
@import '../Utils/variables';

header { 
    box-sizing: border-box; 
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    @include row-c;
    background-color: white;
    box-shadow: 0rem .2rem .9rem $shadow;
    min-width: 100vw;
    max-width:100%;
    height: 9vh;
    min-height: 50px;
    
}

.logo {
    display: flex;
    position: relative;
    margin: 1.5vh 0vh;

    & img {
        width: 100%;
        height: auto;
        transform: scale(.5);
    }
    &__link {
        position: fixed;
        transform: translateY(-50%);
        left: 2vw;
        top: 4.5vh;
        font-size: 1.3rem;
        z-index: 20;
        & a {            
            display:flex;
            align-items: stretch;
        }
    }
}

.content {
    @include col-c;
    padding-top: 8.8vh;
}


/* Breakpoint */

    /* Tablet */

    @media screen and (min-width: 768px) and (max-width: 1023px) {
    
    }
    
        /* Desktop */
    
    @media screen and (min-width: 1024px) {
        header {
            height: 6vh;
            min-height: 50px;
        }

        .logo {
            &__link {
                left: 2vw;
                top: 3vh;
            }
        }

        .content {
            padding-top: 6vh;
        }
    }