@import "../Utils/variables";

@mixin grad {
    border: none;
    padding: 1em;
    border-radius: 2em;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
    filter: drop-shadow(2px 4px 5px $shadow);
    &:hover {
        cursor: pointer;
        background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(231,113,218,1) 44%, rgba(147,86,220,1) 100%);
        filter: drop-shadow(2px 4px 5px #2a292958);
    }


}