@import '../Utils/variables';
@import '../Composants/buttons';
@import '../Utils/mixins';


@include loadermix;

.search {
    @include row-c;
    padding: .5rem;
    color: $dgray;
    font-size: $m;
    background-color: $mgray;
    &__input {
        border: none;
        background-color: transparent;
        font-weight: bold;
        width:auto;
        
        text-align: center; 
        &:focus{
            border: none;
        }
    }
}

.intro { 
    @include col-c;
    text-align: center;
    background-color: $lgray;
    padding: 2rem 0 2rem 0;
    gap: 2rem;
    &__title {
        font-size: $xl;
        font-weight: 900;
        margin: 0;
        margin-bottom: .8rem;
    }
    &__sub {
        font-size: 1.1rem;
        color: lighten(black, 40%);
    }
    &__btn {
        @include grad;
        margin: auto;
        width: 15rem;
        margin-bottom: 2rem;
    }
}

.info {
    margin-top: 2.2rem;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: $m;
    font-weight: bold;
    &__title {
        font-size: $xl;
        font-weight: 900;
    }
    &__list { 
        @include col-c;
        @include rst-list;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        gap: 1rem;
    }
    &__li { 
        @include row-l;
        padding: 1rem 0 1rem 2rem;
        gap: 1rem;
        background: $lgray;
        border-radius: 1rem;
        margin: auto;
        width: 17rem;
        margin-bottom: 1rem;
        filter: drop-shadow(3px 6px 3px $mgray);
        &--lpink {
            background: $lpink;
            & i {
                color: $primary-color;
            }
        }
    }
    &--i { 
        font-size: $l;
        color: lighten(black, 50%);
        margin: 0.625rem;
    }
    &__nb { 
        background: $primary-color;
        color: white;
        font-weight: normal;
        padding: .25rem .5rem .25rem .5rem;
        border-radius: 3rem;
        position: absolute;
        left: -10px;
    }
}

.result {
    background: $lgray;
    padding: 2rem 1rem 2rem 1rem;
    &__title {
        font-size: $xl;
        font-weight: 900;
        margin: 0rem 0rem 2rem;
    }
    &__content {
        @include col-c;
        gap: 1.4rem;
        filter: drop-shadow(2px 4px 5px $shadow);
    }
    &__card {
        position: relative;
        background:white;
        border-radius: $card-radius;
        &--img {
            border-radius: $img-radius;
            overflow: hidden;
            & img {
                object-fit: cover;
                aspect-ratio: $img-dim;
            }
        }
        &--new {
            z-index: 10;
            position: absolute;
            top: 4%;
            right: 4%;
            padding: 0.4rem;
            border-radius: .2rem;
            background: $new;
            color: darken($new, 40%);
        }
        &--label {
            position: relative;
        }
        &--title {
            font-weight: 800;
            margin: 1.3rem 1rem .2rem 1rem;
            font-size: $l;
        }
        &--subtitle {
            margin: 0rem 1rem 1.3rem 1rem;
            font-size: $m;
        }
        &--icon {
            display: flex;
            align-items: center;
            position: absolute;
            right: 8%;
            bottom: 20%;
            font-size: 1.5rem;
            font-weight: 200;
            cursor: pointer;
            & .anim {                
                background: linear-gradient(0deg, $secondary-color, $primary-color);
                background-clip: text;
                color: transparent;
                position: absolute;
                z-index: 15;
                top: -1px;
                transform: scale(0.01);
                transition: transform .1s ease-out;
            }
            &:hover {
                & .anim {
                    transform: scale(1.02);
                }
            } 

        }
    }
}

/* Breakpoint */

    /* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .info {
        &__list {
            @include row-c;
            gap: 1.5rem;
        }
    }

        .result {
            &__content {
                @include row-l;
                flex-wrap: wrap;
                gap: 4vw;
                margin-bottom: 2rem;
            }
            &__card {
                width: 42vw;
                &--img {
                    & img {
                        aspect-ratio: $img-dim-desktop;
                    }
                }
                &--new {
                    top: 4%;
                    right: 4%;
                }
                }
        }
}

    /* Desktop */

@media screen and (min-width: 1024px) {
    .intro { 
        &__title {
            font-size: $xl;
            font-weight: 900;
            margin: 0;
        }
        &__subtitle {
            margin-bottom: 1rem;
            margin: 1rem;
        }
    }

    .info {
        padding-left: 1vw;
        padding-right: 1vw;
        margin-bottom: 1rem;
        &__list {
            @include row-c;
            gap: 1.5rem;
            padding: 1rem 9rem;
        }
        &-li {
            width : 15rem;
        }
    }

    .result {
        &__content {
            @include row-l;
            flex-wrap: wrap;
            gap: 2vw;
            margin-bottom: 2rem;
        }
        &__card {
            width: 22.5vw;
            &--img {
                & img {
                    aspect-ratio: $img-dim-desktop;
                }
            }
            &--new {
                top: 4%;
                right: 4%;
            }
            }
    }
}