@import '../Utils/variables';
@import '../Composants/buttons';
@import '../Utils/mixins';

.content { 
    @include col-c;
    padding-top: 4.34rem;
}


@include loadermix;

.search {
    @include row-c;
    padding: .5rem;
    color: $dgray;
    font-size: $m;
    background-color: $mgray;
    &__input {
        border: none;
        background-color: transparent;
        font-weight: bold;
        width: 35%;
        &:focus{
            border: none;
        }
    }
}

.intro { 
    @include col-c;
    text-align: center;
    background-color: $lgray;
    padding: 2rem 0 2rem 0;
    &__title {
        font-weight: bold;
        font-size: $xl;
        margin: 0;
    }
    &__subtitle {
        margin-bottom: 1rem;
    }
    &__btn {
        @include grad;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 1.5rem;;
    }
}

.info {
    margin-top: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    font-size: $m;
    font-weight: bold;
    &__title {
        font-size: $l;
    }
    &__list { 
        @include rst-list;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    &__li { 
        @include row-l;
        padding: $s 0 $s 2rem;
        gap: 1rem;
        background: $lgray;
        border-radius: 1rem;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 1rem;
        filter: drop-shadow(3px 6px 3px $mgray);
    }
    &--i { 
        color: lighten(black, 50%)
    }
    &__nb { 
        background: $primary-color;
        color: white;
        font-weight: normal;
        padding: .25rem .5rem .25rem .5rem;
        border-radius: 3rem;
        position: absolute;
        left: -10px;
    }
}

.result {
    background: $lgray;
    padding: 2rem 1rem 2rem 1rem;
    &__title {
        font-size: $xl;
        font-weight: 900;
        margin: 0rem 0rem 2rem;
    }
    &__content {
        @include col-c;
        gap: 1.4rem;
        filter: drop-shadow(2px 4px 5px $shadow);
    }
    &__card {
        position: relative;
        background:white;
        border-radius: $card-radius;
        &--img {
            border-radius: $img-radius;
            overflow: hidden;
            & img {
                object-fit: cover;
                aspect-ratio: $img-dim;
            }
        }
        &--new {
            z-index: 10;
            position: absolute;
            top: 1%;
            right: 4%;
            padding: 0.4rem;
            border-radius: .2rem;
            background: $new;
            color: darken($new, 40%);
        }
        &--label {
            position: relative;
        }
        &--title {
            font-weight: 800;
            margin: 1.3rem 1rem .2rem 1rem;
            font-size: $l;
        }
        &--subtitle {
            margin: 0rem 1rem 1.3rem 1rem;
            font-size: $m;
        }
        &--icon {
            position: absolute;
            right: 8%;
            bottom: 20%;
            font-size: 1.5rem;
            text-shadow: .1rem 0rem .1rem black, -0.1rem 0rem .1rem black, 0rem .1rem .1rem black, 0rem -0.1rem 0.1rem black;
            color: white;  
            & i {
                transform: scale (0);
                transform: scale .2s ease-in-out;
                &:hover {
                    transform: scale (1);
                    text-shadow: none;
                    color: transparent;
                    background-clip: text;
                    background-image: linear-gradient(170deg, $secondary-color, $primary-color);
                    cursor: pointer;
                } 
            }
        }
    }
}

