@import '../Utils/variables';
@import '../Composants/buttons';
@import '../Utils/mixins';

.illu {
    z-index: 0;
    width: 100%; 
    &__img {
        width: 100%;
    }
}

.menu {
    z-index: 10;
    background: $lgray;
    border-radius: 2rem 2rem 0 0;
    margin-top: -3rem;
    top: 50%;
    padding: 1.5rem 1rem 1.5rem 1rem;
    position: relative;
    &__title {
        @include row-l;
        justify-content: space-between;

    }
    &__name{
        font-family: 'Shrikhand', cursive; 
        font-size: $ttl-menu;
        font-weight: 900;
    }
    &__btn {
        @include grad;
        padding: 1rem 2rem 1rem 2rem;
        margin-left: 34%;
        margin-right: 34%;
        margin-bottom: 1.5rem;;
    }
    &__i {
        position: absolute;
        right: 7%;
        top: 6%;
        font-size: 1.5rem;
        cursor: pointer;
        & .anim {                
            background: linear-gradient(170deg, $secondary-color, $primary-color);
            background-clip: text;
            color: transparent;
            position: absolute;
            z-index: 15;
            left: 0;
            top: 2px;
            transform: scale(0.01);
            transition: transform .1s ease-out;
        }
        &:hover {
            & .anim {
                transform: scale(1.02);
            }
        } 

    }
}

.choice {
    /*animation*/
    &__item {
        @for $i from 1 through 3 {
            &:nth-child(#{$i}n) {
                animation-delay: #{$i * 0.2}s;
                animation-name: slidein;
                animation-duration: .3s;
                animation-fill-mode: forwards;
                opacity: 0;
                transform: translateY(1rem);
            }
        }
    }

    @keyframes slidein {
        from {
            opacity: 0;
            transform: translateY(1rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__step {
        font-weight: 300;
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        margin-bottom: 2rem;
        &:before{
            content: "";
            position: absolute;
            width: 3rem;
            height: 1px;
            bottom: -.8rem;
            left: 0%;
            border-bottom: .4rem solid $tertiary-color;
        }
    }
    &__item {
        filter: drop-shadow(2px 4px 5px $shadow);
        @include row-l;
        align-items: stretch;
        overflow: hidden;
        background: white;
        border-radius: 1rem;
        padding: 0;
        margin-bottom: 1rem;
        &--p {
            flex-grow: 1;
            width: 85vh;
            white-space: nowrap;
        }
        & .choice__price{
            transform: translateX(0);

        }
        &:hover {
            & .choice__price--check .fa-solid {
                transform: rotate(0deg);
            }
            & .choice__item--p {
                width: 60vh;
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & .choice__price {
                transform: translateX(-4.5rem);
                transition: transform .2s ease-in-out;
                
            }
        }
    }
    &__title {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 1rem .5rem .5rem .5rem;
    }
    &__subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0rem .5rem 1rem .5rem;
    }
    &__price {
        @include row-l;
        flex-wrap: nowrap;
        font-size: 1.3rem;
        font-weight: 600;
        position: relative;
        flex-grow: 1;
        & p {
            margin: 0rem 0rem 0rem 1.5rem;
            transform: translate(-1vh,2vh);
            font-size: $m;
        }
        &--check {
            color: white;
            background: $tertiary-color;
            padding: 1.8rem 1.4rem;
            width: 1.5rem;
            position: absolute;
            right: -4.6rem;
            & .fa-solid {
                transform: rotate(-90deg);
                transition: transform .3s ease-in-out;
                &::before, &::after {
                    box-sizing: content-box;
                }
            }
        }
    }
}
