
/* Colors */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dgray: #353535;
$mgray: #EAEAEA;
$lgray: #F6F6F6;
$shadow: #c3c3c3;

/* Font-size */
$s: .5rem;
$m: 1rem;
$l: 1.3rem;
$xl: 1.6rem;



