
/* Colors */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$lpink: #f5edff;
$dgray: #353535;
$mgray: #EAEAEA;
$lgray: #F6F6F6;
$shadow: #0000002f;

/* Font-size */
$s: .5rem;
$m: 1rem;
$l: 1.3rem;
$xl: 1.6rem;
$ttl-menu: 1.7rem;

/* Card design */
$card-radius: 1rem;
$img-radius: 1rem 1rem 0rem 0rem;
$new: #99E2D0;
$img-dim: 9/5;
$img-dim-desktop: 5/2;


